{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe
{% endblock %}

{% block body %}
	<section id="form-page" class="dfull">
		<section id="form-container" class="dfull fw gap w70 h60">
			<div id="form">
				<h1>Créez votre nouveau mot de passe</h1>

				{{ form_start(resetPasswordForm) }}
				{{ form_row(resetPasswordForm.password) }}
				{{ form_row(resetPasswordForm.confirmPassword) }}
				<button class="submit-button btn-primary">Création d'un mot de passe</button>
				{{ form_end(resetPasswordForm) }}
			</div>
		</section>
	</section>

{% endblock %}
