<h1>Bienvenu/e chez Snowtricks! Confirmez votre adresse mail</h1>

<p>
    Veuillez confirmer votre adresse email en cliquant sur le lien ci-dessous: <br><br>
    <a href="{{ signedUrl }}">Confirmer mon email</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci!
</p>
