{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<section id="form-page" class="dfull">

		<section id="form-container" class="dfull">
			<div>
				<img src="{{ asset('img/form.jpg')}}" / alt="image">
			</div>
			<h2>Félicitations ! Votre compte a bien été créé. <br />
            Un email a été envoyé à votre adresse mail, veuillez cliquer sur le lien de validation pour terminer votre inscription</h2>
		</section>
	</section>
{% endblock %}
