/* Footer  */
footer {
    background-color: #030303;
    padding: 20px;
    text-align: center;
    margin-top: 100px;
  }
  
  div.footer-logo img {
    max-width: 100px;
    height: auto;
    margin-bottom: 15px;
  }
  
  div.footer-links {
    margin-bottom: 15px;
  }
  
  div.footer-links a {
    text-decoration: none;
    color: var(--extra-light-blue);
    margin: 0 15px;
  }
  
  div.footer-links a:hover {
    color: white;
  }
  
  div.footer-socials {
    margin-bottom: 15px;
  }
  
  div.footer-socials a {
    color: var(--light-blue);
    margin: 0 10px;
    font-size: 24px;
  }
  
  div.footer-socials a:hover {
    color: var(--extra-light-blue);
  }
  
  div.footer-legal {
    font-size: 14px;
    color: white;
  }

/* Responsive  */

@media (max-width: 768px) {
    .footer-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }

    .footer-links a {
        margin: 5px 0;
        padding-bottom: 4px; /* Augmenter l'espacement sous le texte pour la version mobile */
    }

    .footer-socials {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    .footer-socials a {
        margin: 0 8px;
        font-size: 20px;
    }

    .footer-legal {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .footer-logo img {
        max-width: 120px;
    }

    .footer-socials a {
        font-size: 18px;
    }

    .footer-legal {
        font-size: 10px;
    }
}