section#form-page {
  min-height: 100vh;
}
section#form-container {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: auto;
  margin: 20px auto;
}

section#form-container img {
  width: 500px;
}

section#form-container .main-img {
  width: 250px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 20px;
}

.more-img {
  width: 150px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 20px;
}

.more-img-container a {
  margin-bottom: 20px;
}
.more-img-container i {
  font-size: 10px;
}

section#form-container form {
  width: auto;
  height: auto;
  padding: 20px;
}

div#form h2 {
  margin: 40px;
}

.formInput, #tricks_form_categories {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 25px;
  box-shadow: 0 0 5px var(--extra-light-blue);
  width: 70%;

}

form#form input::placeholder {
    color: var(--extra-dark-blue);
}

form#form input:focus {
  border-color: var(--dark-blue);
  outline: none;
  box-shadow: 0 0 5px var(--extra-dark-blue);
}

form#form button.submit-button {
  background: var(--light-blue);
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  color: #ffffff;
  cursor: pointer;
  padding: 14px;
  margin: 20px 0;
}

form#form button.submit-button:hover,
form#form button.submit-button:active {
  background-color: initial;
  color: var(--dark-blue);
}

/* Messages après soumission */

.alert{
  text-align: center;
  padding: 15px;
  color: white;
  border-radius: 4px;
}

.alert-success {
  background-color: #5aae5a;
}

/* Responsive  */

@media (max-width: 768px) {

    section#form-page {
        height: auto;
    }
    section#form-container div img {
        display: none;
    }

    section#form-container form#form {
        height: auto;
        padding: 25px;
    }
}