/* Styles de base pour la navbar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    padding: 10px 40px;
    background-color: #030303;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

nav .logo img {
    width: 100px;
}

nav .logo {
    text-transform: uppercase;
    color: var(--extra-light-blue);
}

nav .menu-toggle {
    display: none; /* Caché par défaut */
    background: none;
    border: none;
    color: var(--extra-light-blue);
    font-size: 24px;
    cursor: pointer; /* Ajoute un curseur pointer pour le bouton */
}

nav .menu-toggle i {
    font-size: 24px; /* Taille de l'icône */
}

/* Styles pour les liens de navigation */
nav ul {
    display: flex;
    gap: 2em;
    text-transform: uppercase;
    color: var(--extra-light-blue);
    list-style: none; /* Assurez-vous que la liste ne montre pas de puces */
    margin: 0;
    padding: 0;
}

nav ul li a {
    color: var(--extra-light-blue);
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover {
    text-decoration: underline;
}

