/* Font */
@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap");

/* Colors */
:root {
  --extra-dark-blue: #5585b5;
  --dark-blue: #53a8b6;
  --light-blue: #79c2d0;
  --extra-light-blue: #bbe4e9;
}

/* Général */
* {
  font-family: "Marcellus", serif;
  font-size: 15px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Text */
h1,
h2,
h3 {
  font-family: "Sanchez", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

p {
  font-size: 18px;
}

li {
  list-style-type: none;
}

a {
  list-style-type: none;
  color: inherit;
  text-decoration: none;
}

/* Custom style */

.ta {
  text-align: center;
}

.df {
  display: flex;
}

.dfull {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aic {
  align-items: center;
}

.fdc {
  flex-direction: column;
}

.fw {
  flex-wrap: wrap;
}

.gap {
  gap: 2em;
}

.vh {
  height: 100vh;
}

.alert {
  margin: 20px;
}

/* Icones  */
i {
  cursor: pointer;
}

i.fa-pencil:hover {
  color: #4baf3b;
}

i.fa-trash:hover {
  color: #b75c1b;
}

.w70 {
  width: 70%;
}

.h60 {
  min-height: 70vh;
}

.btnValidate {
  padding: 5px;
  border: 3px;
  background-color: var(--extra-light-blue);
  color: var(--extra-dark-blue);
}

/* Home Page */

section#home-intro {
  position: relative;
  background-image: url("./../img/bg-banner.jpg");
  background-size: cover;
  background-position: center;
  height: 90vh;
  overflow: hidden;
}

/* Ajouter un pseudo-élément pour le dégradé en bas */
section#home-intro::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 70%,
    rgba(255, 255, 255, 1) 100%
  );
}

section#home-intro div.intro-text {
  border-radius: 5px;
  padding: 5em 3em;
  width: 60%;
}

section#home-intro div.intro-text h1 {
  font-size: 3em;
}

section#home-intro div.intro-text h1 > span {
  font-size: 3.1em;
}

section#home-intro div.intro-img img {
  width: 250px;
}

section#home-intro div.bottom-nav i.fa-angles-down {
  font-size: 4em;
  margin-top: 80px;
  color: var(--extra-dark-blue);
  animation: heartbeat 1.5s ease-in-out infinite both;
}

#loadMoreTrick,
#loadLessTrick {
  margin-top: 20px;
  font-weight: bold;
  cursor: pointer;
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

/* ---- Home tricks List ----  */
section#home-tricks-list {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

section#home-tricks-list h2 {
  margin: 50px 0;
  font-size: 2.5em;
}

div.home-trick {
  position: relative;
  width: min-content;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.home-trick-img img {
  width: 300px;
  height: 320px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
  filter: brightness(40%) drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
  transition: filter 0.2s ease-in-out; /* Animation fluide */
}

.home-trick-img img {
  filter: brightness(100%) drop-shadow(0 0 0 rgba(0, 0, 0, 0));
}

div.home-trick div.home-trick-name {
  color: var(--extra-dark-blue);
  text-transform: uppercase;
  text-align: center;
  padding: 40px;
  font-weight: bold;
  font-family: 3em;
  cursor: pointer;
  transition: transform 0.1s ease-in-out, color 0.2s ease-in-out;
}

section#home-tricks-list
  div.home-trick
  div.home-trick-name:hover
  a:first-of-type {
  transform: scale(1.1);
  color: rgb(62, 61, 61);
}

/* Upload more */
.disabled,
section.trick {
  display: none;
}

#loadLessTrick {
  display: none;
}

/* User page */

section#espace-user {
  height: 60vh;
}

section#assets-user {
  padding: 50px 0;
}

.info-user {
  background-color: #444444;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
}

.info-user .username {
  font-size: 1.5em;
}

.info-user img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 50%;
}
.user-trick-container {
  flex-wrap: wrap;
  width: 85%;
  margin: auto;
}

.user-trick-container .home-trick {
  text-align: center;
}

.user-page-options {
  align-items: start !important;
}
.user-page-options .submit-button {
  margin: 0;
}

.comment-user {
  width: 20%;
}
