/* Font */
@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap');


/* Colors */
:root {
  --extra-dark-blue: #5585b5;
  --dark-blue: #53a8b6;
  --light-blue: #79c2d0;
  --extra-light-blue: #bbe4e9;
}

/* Général */
* {
  font-family: "Hubballi", sans-serif;
  font-size: 15px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Text */
h1,
h2 {
  font-family: "Sanchez", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

p {
  font-size: 18px;
}

li {
  list-style-type: none;
}

a {
  list-style-type: none;
  color: inherit;
  text-decoration: none;
}

/* Custom style */

.ta {
  text-align: center;
}

.df {
  display: flex;
}

.dfull {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aic {
  align-items: center;
}

.fdc {
  flex-direction: column;
}

.fw {
  flex-wrap: wrap;
}

.gap {
  gap: 2em;
}

.vh {
  height: 100vh;
}

/* Icones  */
i {
  cursor: pointer;
}

i.fa-pencil:hover {
  color: #4baf3b;
}

i.fa-trash:hover {
  color: #b75c1b;
}

.w70 {
  width: 70%;
}

/* Home Page */

section#home-intro  {
  position: relative;
  background-image: url('./../img/bg-banner.jpg');
  background-size: cover;
  background-position: center;
  height: 90vh;
  overflow: hidden;
}

/* Ajouter un pseudo-élément pour le dégradé en bas */
section#home-intro::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 1) 100%);
}

section#home-intro div.intro-text {
  border-radius: 5px;
  padding: 5em 3em;
  width: 50%;
}

section#home-intro div.intro-text h1 {
  font-size: 3em;
}

section#home-intro div.intro-text h1 > span {
  font-size: 3.1em;
}

section#home-intro div.intro-img img {
  width: 300px;
}

section#home-intro div.bottom-nav i.fa-angles-down {
  font-size: 4em;
  margin-top: 80px;
  color: var(--extra-dark-blue);
  animation: heartbeat 1.5s ease-in-out infinite both;
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}


/* ---- Home tricks List ----  */
section#home-tricks-list {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

section#home-tricks-list h2 {
  margin: 50px 0;
  font-size: 2.5em;
}

section#home-tricks-list div.home-trick {
  position: relative;
  width: min-content;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

section#home-tricks-list div.home-trick .home-trick-img img {
  width: 300px;
  height: 320px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

section#home-tricks-list div.home-trick div.home-trick-name {
  color: var(--extra-dark-blue);
  text-transform: uppercase;
  text-align: center;
  padding: 40px;
  font-weight: bold;
  cursor: pointer;
}

/* ---- Single trick ----  */

section#single-trick-page div.single-trick div.img-container {
  height: 80vh;
}

section#single-trick-page div.single-trick div.img-container h1 {
  font-size: 2em;
  margin-bottom: 40px;
}

section#single-trick-page div.single-trick img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

section#single-trick-page div.single-trick div.others-medias {
  margin: 20px auto;
  overflow: hidden;
  width: 98vw;
}

section#single-trick-page div.single-trick div.others-medias img {
  width: 250px;
  height: 200px;
  object-fit: cover;
}

section#single-trick-page div.single-trick p {
  width: 70%;
  margin: 50px auto;
}

section#single-trick-page div.trick-details {
  background-color: var(--extra-light-blue);
  padding: 10px;
  border-radius: 2px;
  margin: auto;
  width: 50%;
}

section#add-comment-section div.comment-section {
  height: 250px;
  width: 100%;
  background-color: var(--extra-dark-blue);
  margin: 40px auto;
}

section#add-comment-section div.comment-section textarea {
  border: none;
  padding: 10px;
  height: 150px;
  width: 500px;
}

section#add-comment-section div.comments-list {
  width: 70%;
  padding: 20px;
  display: flex;
  align-items: start;
  flex-direction: column;
}

section#add-comment-section div.comments-list .comment {
  margin-bottom: 20px;
}

section#add-comment-section div.comments-list .comment .avatar img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
}

section#add-comment-section div.comments-list .comment .content {
  border: 2px solid var(--extra-dark-blue);
  padding: 10px;
}

/* Update article  */
section#updateArticle {
  background-color: #4baf3b;
}


