/* Font */
@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");

/* Colors */
:root {
  --extra-dark-blue: #5585b5;
  --dark-blue: #53a8b6;
  --light-blue: #79c2d0;
  --extra-light-blue: #bbe4e9;
}

/* Général */
* {
  font-family: "Hubballi", sans-serif;
  font-size: 15px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Text */
h1,
h2 {
  text-transform: uppercase;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

p {
  font-size: 18px;
}

li {
  list-style-type: none;
}

a {
  list-style-type: none;
  color: inherit;
  text-decoration: none;
}


/* Custom style */

.ta {
  text-align: center;
}

.df {
  display: flex;
}

.dfull {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aic {
  align-items: center;
}

.fdc {
  flex-direction: column;
}

.fw {
  flex-wrap: wrap;
}

.gap {
  gap: 2em;
}

/* Icones  */
i {
  cursor: pointer;
}

i.fa-pencil:hover {
  color: #4baf3b;
}

i.fa-trash:hover {
  color: #b75c1b;
}
main {
  width: 80%;
  margin: auto;
}

/* Home Page */
/* ---- Home Intro ---- */
section#home-intro {
  width: 80%;
  height: 90vh;
  margin: auto;
}

section#home-intro div.intro-text {
  border: 2px solid var(--extra-light-blue);
  border-radius: 5px;
  padding: 5em 3em;
  width: 50%;
}

section#home-intro div.intro-img img {
  width: 300px;
}

section#home-intro div.bottom-nav i.fa-angles-down {
  font-size: 4em;
  margin-top: 80px;
  color: var(--extra-dark-blue);
  animation: heartbeat 1.5s ease-in-out infinite both;
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
/* ---- Home tricks List ----  */
section#home-tricks-list {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

section#home-tricks-list .trick {
  position: relative;
  width: min-content;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

section#home-tricks-list .trick .trick-img img {
  width: 300px;
  height: 320px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

section#home-tricks-list div.trick div.trick-name {
  color: var(--extra-dark-blue);
  text-transform: uppercase;
  text-align: center;
  padding: 40px;
  font-weight: bold;
  cursor: pointer;
}
