<body>
	{% block body %}

		<nav>
			<ul>
				<li><a href="#">Accueil</a></li>
				<li><a href="#">Figures</a></li>
			</ul>
		</nav>

		<header>
			<img href="../assets/img/home-bg.jpg"/>
		</header>
	{% endblock %}
</body>
