{% extends 'base.html.twig' %}

{% block title %}Changement de mot de passe
{% endblock %}

{% block body %}

	<section id="form-page" class="dfull">

		<section id="form-container" class="dfull">
			<div>
				<img src="{{ asset('img/password.jpg')}}" / alt="image">
			</div>

			<form id="form" class="dfull fdc">
				<h2>Modifier votre mot de passe</h2>
				<label for="password">
					<input type="password" id="password" name="password" placeholder="Nouveau mot de passe" required>
				</label>

				<label for="password">
					<input type="password" id="password" name="password" placeholder="Confirmer le mot de passe" required>
				</label>


				<button type="submit" class="submit-button">Valider</button>


				<div class="dfull">
					<p>Lors de la validation, vous reçevrez un mail de confirmation
					</p>
				</div>
			</form>
		</section>

	</section>

{% endblock %}
