{% extends 'base.html.twig' %}

{% block title %}Snowtricks
{% endblock %}

{% block body %}

<section id="espace-user" class="dfull gap">
    <div>
        <a href="{{path('app_updateUser')}}">Modifier son profil</a>
    </div>
    <div>
        <a href="#">Mes tricks</a>
    </div>

</section>

	


{% endblock %}