{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Accès non autorisé</h1>

    <p>
        Vous n'avez pas accès à cette page <a href="{{ path('app_home') }}">retourner à l'accueil</a>.
    </p>
{% endblock %}