{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
	<section id="errorPage">
		<h1>Page non trouvée</h1>
		<p>
			La page que vous recherchez n'existe pas
		</p>
		<a href="{{ path('app_home') }}">retourner à l'accueil</a>.

	</section>
{% endblock %}
